# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data = {} #empty dictionary
type(data)

dict

In [2]:
data1 = dict() #empty dictionary
type(data1)

dict

In [3]:
data = {
    'Alabama': 'Montgomery',
    'Arizona': 'Phoenix',
    'Georgia': 'Atlanta',
    'Kentucky': 'Frankfort',
    'Ohio': 'Salem'
} #key: value

In [4]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [5]:
type(data)

dict

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [6]:
data = {
    'Alabama': 'Montgomery',
    'Arizona': 'Phoenix',
    'Georgia': 'Atlanta',
    'Kentucky': 'Frankfort',
    'Ohio': 'Salem'
} #key: value

In [7]:
data['Kentucky']

'Frankfort'

In [8]:
data['Alabama']

'Montgomery'

### Update elements of a dictionary and add new elements

In [9]:
day={
    1:'Monday',
    2:'Tuesday',
    4:['Thursday','Friday'],
    5:('Saturday','Sunday')
}

In [10]:
day[1]

'Monday'

In [11]:
day[4][1] #[key][index]

'Friday'

In [12]:
day[5][0]

'Saturday'

In [13]:
#day[5][1] = 'Holiday' #tuple update (even though a tuple is in a dictionary) it is not possible

### value can change, dictionary key is immutable

In [14]:
#update Thursday to Holiday
day[4][0] = 'Holiday'

In [15]:
#update Monday to Holiday
day[4][0] = 'Holiday'

In [16]:
# data['Louisiana']

### `get` and `update` methods

In [17]:
data.get('Arizona') # (the method) .get() looks for the key value to return the value

'Phoenix'

In [18]:
data.get('Louisiana') #does not generate an error and that is how it is different from other arrays

In [19]:
#update old value to new and add new key value pair
print(data)
data.update({'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'})

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [20]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [21]:
data.update({'alabama' : 'Montgomery'}) #only way to update key (by adding new key)
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge', 'alabama': 'Montgomery'}

### Delete dictionary items using `del` and `pop`

In [22]:
data
del data['Alabama']

In [23]:
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [24]:
deleted_state = data.pop('Arizona')
print("Deleted State", deleted_state) #pop can do this but (the method) 'del' can't

Deleted State Phoenix

In [25]:
data

{'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [26]:
#Delete Mongomery 
deleted_capitol = data.pop('alabama')
print(deleted_capitol)
print(data)

Montgomery
{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [27]:
del data #Deleted entire dictionary

In [28]:
# data  #gives error



### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [29]:
data={
    'Alabama':'Montgomery',
    'Arizona':'Phoenix',
    'Georgia':'Atlanta',
    'Kentucky':'Frankfort',
    'Ohio':'Salem'
} #key:value

In [30]:
len(data) #amt of the element/ value in a dictionary

5

In [31]:
#Extract Keys
print(data.keys())

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [32]:
#Extract Values
print(data.values())

dict_values(['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Salem'])

In [33]:
#item/ key value pair
print(data.items())
type(data.items()) #new data type

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Phoenix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Salem')])

dict_items

### Loop through a dictionary

In [34]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [35]:
# loop through the dictionary keys 
for i in data.keys(): # unpact dict items
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [36]:
#looping through values
for j in data.values():  #Keys and values are both strings!!!
    print("The capitol is", j)
    print(type(j))

The capitol is Montgomery
<class 'str'>
The capitol is Phoenix
<class 'str'>
The capitol is Atlanta
<class 'str'>
The capitol is Frankfort
<class 'str'>
The capitol is Salem
<class 'str'>

In [37]:
#looping throught the item
for k in data.items(): #it is a tuple!!!
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Phoenix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Salem')
<class 'tuple'>

In [38]:
#tuple unpacking 
for i, j in data.items():
    print("The state", i, "has the capitol", j)
    print(type(i), type(j))

The state Alabama has the capitol Montgomery
<class 'str'> <class 'str'>
The state Arizona has the capitol Phoenix
<class 'str'> <class 'str'>
The state Georgia has the capitol Atlanta
<class 'str'> <class 'str'>
The state Kentucky has the capitol Frankfort
<class 'str'> <class 'str'>
The state Ohio has the capitol Salem
<class 'str'> <class 'str'>

### Convert dictionary values to lists using `list()` function

In [39]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [40]:
list(data.values())

['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Salem']

In [41]:
#convert the keys to a tuple
tuple(data.keys())

('Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio')

### A List in a Dictionary

In [42]:
favorite_lang = {
    'Jen': ['Python','Ruby'],
    'Sarah':['C'],
    'Edward':['Ruby','JAVA'],
    'Phil':['Python','Haskell']
}

In [43]:
#unpack the key and the values using item()
for name, languages in favorite_lang.items():
    print("\n"+ name.title()+ "\'s favorite languages are: ")
    # print(languages) this prints th whole list, we want 1 item at the time
    for i in languages:
        print("\t\t\t"+ i.title())

Jen's favorite languages are:
			Python
			Ruby

Sarah's favorite languages are:
			C

Edward's favorite languages are:
			Ruby
			Java

Phil's favorite languages are:
			Python
			Haskell

###  A Dictionary in a Dictionary

In [44]:
user = {
    'einstein':{
        'first':'albert',
        'last':'einstein',
        'location':'princeton'
    },
    'mcurie':{
        'first':'marie',
        'last': 'curie',
        'location':'paris'
    }
}

In [45]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [46]:
for username, user_info in user.items():
    print("\n Username", username)
    fullname = user_info['first'] +" "+user_info['last']
    location = user_info["location"]
    
    print("The full name is: "+ fullname.title())
    print("The location is: ", location.title())

 Username einstein
The full name is: Albert Einstein
The location is:  Princeton

 Username mcurie
The full name is: Marie Curie
The location is:  Paris